<div class="container mt-5">
    <div class="offer">
        <h1>What We Offer</h1>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
    <div class="card">
        <img [src]="card1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Design And Construction</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img [src]="card2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">House Renovation</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      </div>
      <div class="col-sm-4 ml-3">
      <div class="card" >
        <img [src]="card3" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Green Building</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
      </div>
</div>
</div>