<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h3>WHY CHOOSE US?</h3>
        <br>
        <ul>
          <li>
            <p>We have 30 plus years in the building industry</p>
          </li>
          <li>
            <p>Quality Construction continues after the project</p>
          </li>
          <li>
            <p>We use technology to do the job more quickly</p>
          </li>
          <li>
            <p>Employees are continually trained on safety issues</p>
          </li>
        </ul>
        
          <!-- <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Link with href
              </a>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                We have 30 plus years in the building industry
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
           -->
          <!-- <div class="d2">
          <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Quality Construction continues after the project
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
          </div>
          <div class="d3">
          <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                We use technology to do the job more quickly
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
          </div>
          <div class="d4">
          <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Employees are continually trained on safety issues
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
          </div>-->
      </div> 
      <div class="col-md-6">
        <h2>About Us</h2>
        <img [src]="AboutUs" class="d-block w-500" alt="...">
      </div>
    </div>
    </div>
    
