
<div class="container mt-5">
    <div class="service">
    <h3>MAIN SERVICES </h3>
</div>
</div>


<div class="container mt-5">
    <div class="row mt-5">
      <div class="col">
        <h4>Construction Consultant</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam, aliquam nostrum quidem
          error cupiditate odio? Porro vitae distinctio nulla ullam! Neque ea, obcaecati ipsam temporibus explicabo
          consequatur esse.</p>
      </div>
      <div class="col">
        <h4>Architectural Design</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam, aliquam nostrum quidem
          error cupiditate odio? Porro vitae distinctio nulla ullam! Neque ea, obcaecati ipsam temporibus explicabo
          consequatur esse.</p>
      </div>
      <div class="col">
        <h4>Electrical System</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam, aliquam nostrum quidem
          error cupiditate odio? Porro vitae distinctio nulla ullam! Neque ea, obcaecati ipsam temporibus explicabo
          consequatur esse.</p>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col">
        <h4>General Contracting</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam, aliquam nostrum quidem
          error cupiditate odio? Porro vitae distinctio nulla ullam! Neque ea, obcaecati ipsam temporibus explicabo
          consequatur esse.</p>
      </div>
      <div class="col">
        <h4>Reconstruction Services</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam, aliquam nostrum quidem
          error cupiditate odio? Porro vitae distinctio nulla ullam! Neque ea, obcaecati ipsam temporibus explicabo
          consequatur esse.</p>
      </div>
      <div class="col">
        <h4>Plumbing Services</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus similique aperiam, aliquam nostrum quidem
          error cupiditate odio? Porro vitae distinctio nulla ullam! Neque ea, obcaecati ipsam temporibus explicabo
          consequatur esse.</p>
      </div>
    </div>
  </div>
