

<div class="container mt-5">
    <div class="head">
        <h1>Pune Top 10 Builders</h1>
    </div>
</div>
<div class="card mx-5 mt-5">
    <div class="card-header">
       Godrej Properties
    </div>
    <div class="card-body">
    
      <p class="card-text">Kolte Patil Developers is a reputed builder in Pune with a total experience 
        of two decades in the domain. If you are looking for the best flats in Pune, Kolte Patil 
        Developers is sure to find you one. Having introduced a large number of residential and 
        commercial projects, Kolte Patil Developers, in today’s date, has become one of the most 
        renowned brands to reckon with. Some of their well-known features are on-time completion of 
        projects, exclusive delivery, and so on. The company is headquartered in Pune itself and it 
        offers its customers the pleasure of residing in well-equipped, environment-friendly 
        residential complexes.</p>
    <h5 class="card-title">Projects</h5>
      <ul>
        <li>Kolte Patil Ivy Estate Umang Premier, Wagholi, Pune</li>
        <li>Kolte Patil Stargaze, Bavdhan, Pune</li>
        <li>Kolte Patil Centria, Undri Pune</li>
        <li>Kolte Patil 24K Sereno Buildings C And D, Baner, Pune</li>
        <li>Kolte Patil Ivy Estate Nia, Wagholi, Pune</li>
        <li>Kolte Patil Life Republic 6th Avenue, Hinjewadi, Pune</li>
    </ul>
       <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>
<br><br>
  <div class="card  mx-5 my-5">
    <div class="card-header">
        Majestique Landmarks
    </div>
    <div class="card-body">
      

      <p class="card-text">Majestique was initially established as a textiles industry during the year 
          1975 by Dwarkadas Maheshwari. The company soon extended its horizons on to multiple domains, 
          one of them being real estate. The real estate wing of Majestique commenced operations in the
           year 2007 under the leadership of Shyamkumar Maheshwari, son of Dwarkadas Maheshwari.
            In today’s date, Majestique Landmarks is one of the most premium brands in the sector of
             real estate.</p>
             <h5 class="card-title">Projects</h5>
             <ul>
                 <li>Rhythm County Buildings A1 A2, Handewadi, Pune</li>
                 <li>Majestic Oasis, Wagholi, Pune</li>
                 <li>Majestique Manhattan, Wagholi, Pune</li>
                 <li>Vanalika, Pirangut, Pune</li>
                 <li>Majestique Navkar, Marked Yard Annex, Pune</li>
             </ul>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>

  <div class="card  mx-5 my-5">
    <div class="card-header">
        Kalpataru Group
    </div>
    <div class="card-body">
     

      <p class="card-text">Kalpataru Limited is the flagship real estate organisation of the Kalpataru 
          Group. It has gained the reputation of being one of the leading real estate developers of 
          India. Kalpataru Group has always emphasised on improving the premium residential, retail,
           commercial, and townships projects, particularly in the Mumbai Metropolitan Region (MMR) 
           and Pune. Kalpataru Group has extended its operations to the cities of Jaipur, Hyderabad, 
           Chennai, and so on.</p>
           <h5 class="card-title">Projects</h5>
           <ul>
             <li>Kalpataru Jade Residences, Baner, Pune</li>
             <li>Kalpataru Serenity, Manjari, Pune</li>
             <li>Kalpataru Harmony, Wakad, Pune</li>
           </ul>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>

  <div class="card  mx-5 my-5">
    <div class="card-header">
        Lodha Group
    </div>
    <div class="card-body">
      
      <p class="card-text">Among the world’s multinational real estate developers, Lodha Group is the 
          most well-known brand name. Instituted in the year 1980, Lodha Group has managed to stay at 
          the top in the real estate sector and has also developed cutting-edge ventures like Trump 
          Tower. Lodha Group’s latest venture is a high-end luxury project on the Pune-Mumbai highway
           in Gahunje, Pune. Since its inception, Lodha Group has managed to develop an estimated 43 
           million square feet of real estate in India.</p>
           <h5 class="card-title">Projects</h5>
           <ul>
             <li>Lodha Belmondo, Pune-Mumbai Highway, Pune</li>
             <li>Lodha Riviera, Gahunje, Pune</li>
             <li>Lodha Goldcrest, Maval, Pune</li>
             <li>Lodha Springwood, Gahunje, Pune</li>
             <li>Lodha Evora Apartments, Kalyani Nagar, Pune</li>
           </ul>
     
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>

  <div class="card  mx-5 my-5">
    <div class="card-header">
        Kumar Properties
    </div>
    <div class="card-body">
      

      <p class="card-text">Established in the year 1966, Kumar Properties expanded into commercial
           structures and IT parks at the beginning of the year 2000. Kumar Properties currently 
           has around 27,000 brand ambassadors and their actual strength. They have always focused
            on building swanky commercial properties and environment-friendly, well-equipped 
            residential complexes for their customers. They have more than just a construction record, 
            Kumar Properties provides complete living and working spaces that are equipped with the 
            latest amenities integrated in a holistic manner.</p>

            <h5 class="card-title">Projects</h5>
            <ul>
              <li>Park Infinia Phase 3, Phursungi, Pune</li>
             <li> Kumar Picasso, Hadapsar, Pune</li>
              <li>Princetown Royal, NIBM, Pune</li>
              <li>Privie Residences Sienna, Magarpatta, Pune</li>
              <li>Kumar Properties Pebble Park, Handewadi, Pune</li>
          </ul>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>

  <div class="card  mx-5 my-5">
    <div class="card-header">
        Rohan Builders and Developers
    </div>
    <div class="card-body">
      

      <p class="card-text">Established in the year 1993, Rohan Builders and Developers in today’s date has 
          carved its niche in the real estate domain. Their customers are hugely satisfied with their 
          ‘Something New’ concept. Rohan Builders has in-house experts through which it has been able to 
          perform tremendously well with respect to the quality of construction and delivering perfection.</p>

          <h5 class="card-title">Projects</h5>
          <ul>
            <li>Rohan Ananta Phase 1, Tathawade, Pune</li>
           <li> Rohan Ishan, Bavdhan, Pune</li>
            <li>Rohan Ipsita, Hinjewadi, Pune</li>
            <li>Rohan Abhilasha Building E, Wagholi, Pune</li>
          </ul>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>

  <div class="card  mx-5 my-5">
    <div class="card-header">
        Pristine Properties
    </div>
    <div class="card-body">
     

      <p class="card-text">Pristine Properties has emerged as a reputed, well-known real estate 
          developer in India. It commenced operations in the year 1988 and ever since it has initiated
           multiple projects in the most prime locations of Pune. Without compromising style or 
           creativity, Pristine Properties has always focused on the aspect of Vastu Shastra. 
           Since the company is a strong supporter of all things eco-friendly, it has equipped most 
           of its housing projects with facilities such as rainwater harvesting, vermicomposting, 
           and water recycling.</p>
    
           <h5 class="card-title">Projects</h5>
      <ul>
          <li>Pristine, Mamurdi, Pune</li>
           <li>Pristine Rejuve, Keshav Nagar, Pune</li>
           <li>Pristine Greens, Undri, Pune</li>
           <li>Pristine Horizon, Undri, Pune</li>
           <li>Pristine Central Park, Mamurdi, Pune</li>
      </ul>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>

  <div class="card  mx-5 my-5">
    <div class="card-header">
       Godrej Properties
    </div>
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <ul>
          <li>Godrej Nurture, Mamurdi, Pune</li>
           <li>Godrej Rejuve, Keshav Nagar, Pune</li>
           <li>Godrej Greens, Undri, Pune</li>
           <li>Godrej Horizon, Undri, Pune</li>
           <li>Godrej Central Park, Mamurdi, Pune</li>
      </ul>

      <p class="card-text">A part of the Godrej Group, Godrej Properties has become one of the leading 
          players in the sector of real estate. Godrej Properties follows the 119 years old tradition of 
          commitment to providing cutting-edge technology and design to its customers. 
          The entity is into commercial, residential and township projects that extend to nearly 11.89 
          million square meters spread across 12 cities. The company focuses on its core expertise with 
          energetic and seasoned managers looking after the business</p>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>
  <div class="card  mx-5 my-5">
    <div class="card-header">
       Godrej Properties
    </div>
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <ul>
          <li>Godrej Nurture, Mamurdi, Pune</li>
           <li>Godrej Rejuve, Keshav Nagar, Pune</li>
           <li>Godrej Greens, Undri, Pune</li>
           <li>Godrej Horizon, Undri, Pune</li>
           <li>Godrej Central Park, Mamurdi, Pune</li>
      </ul>

      <p class="card-text">A part of the Godrej Group, Godrej Properties has become one of the leading 
          players in the sector of real estate. Godrej Properties follows the 119 years old tradition of 
          commitment to providing cutting-edge technology and design to its customers. 
          The entity is into commercial, residential and township projects that extend to nearly 11.89 
          million square meters spread across 12 cities. The company focuses on its core expertise with 
          energetic and seasoned managers looking after the business</p>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>
  <div class="card  mx-5 my-5">
    <div class="card-header">
       Godrej Properties
    </div>
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <ul>
          <li>Godrej Nurture, Mamurdi, Pune</li>
           <li>Godrej Rejuve, Keshav Nagar, Pune</li>
           <li>Godrej Greens, Undri, Pune</li>
           <li>Godrej Horizon, Undri, Pune</li>
           <li>Godrej Central Park, Mamurdi, Pune</li>
      </ul>

      <p class="card-text">A part of the Godrej Group, Godrej Properties has become one of the leading 
          players in the sector of real estate. Godrej Properties follows the 119 years old tradition of 
          commitment to providing cutting-edge technology and design to its customers. 
          The entity is into commercial, residential and township projects that extend to nearly 11.89 
          million square meters spread across 12 cities. The company focuses on its core expertise with 
          energetic and seasoned managers looking after the business</p>
      <a href="#" class="btn btn-primary">Go To Website</a>
    </div>
  </div>
