 <div class="container-fluid navbar-one flex" >
  <div class="left">
    <div class="social-icons">
      <ul>
          <li><i class="pi pi-twitter"></i></li>
          <li><i class="pi pi-facebook"></i></li>
          <li><i class="pi pi-google"></i></li>
          <li><i class="pi pi-twitter"></i></li>
     </ul>
  </div>
  </div>
  <div class="right">
  <div  class="call ">
    <ul>
    <li><i class="pi pi-phone">
      <span>+91 7845562312</span>
    </i></li>
    </ul>
  </div>
  <div  class="msg">
    <ul>
      <li>
    <i class="pi pi-envelope">
      <span>construction@gmail.com</span>
    </i></li>
  </ul>
  </div>
  <div  class="clock">
    <ul>
      <li>
    <i class="pi pi-clock">
      <span>mon-fri:7pm</span>
    </i></li>
  </ul>
  </div>
  </div>
</div> 

<nav class="navbar navbar-expand-sm">
  <div class="container me-auto">
    <a class="navbar-brand px-3" href="#">
      <img [src]="myImage">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown px-5 me-3">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </a>
          <ul class="dropdown-menu px-5 mt-3" aria-labelledby="navbarDropdownMenuLink">
          
            <li><a class="dropdown-item" routerLink="home/about-us">About-us</a></li>
            <li><a class="dropdown-item" routerLink="home/our-services">Our-Services</a></li>
            <li><a class="dropdown-item" routerLink="home/feature-work">features Work</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown px-5 me-3">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our-Services
          </a>
          <ul class="dropdown-menu mt-3" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="our-services/service">Services</a></li>
            <li><a class="dropdown-item" routerLink="our-services/house-renovation">House Reenovation</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown px-5 me-3">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Port-Folio
          </a>
          <ul class="dropdown-menu mt-3" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="port-folio/project1">Project1</a></li>
            <li><a class="dropdown-item" routerLink="port-folio/project2">Project2</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown me-3">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search
          </a>
          <ul class="dropdown-menu mt-3" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="pune">Pune</a></li>
            <li><a class="dropdown-item" routerLink="mumbai">Mumbai</a></li>
           
          </ul>
        </li>
        <!-- <li class="nav-item  px-5 me-3" >
          <a class="nav-link active" routerLink="contact">Contact Us</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" routerLink="contact">Contact</a>
        </li>
        </ul>
     
    </div>
  </div>
</nav> 

<app-home></app-home>
<router-outlet></router-outlet>
<app-footer></app-footer>
