<!-- card section -->
<h3>FEATURED WORK</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img [src]="f1" class="d-block w-500" alt="...">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img [src]="f2" class="card-img-top" alt="...">
      <div class="card-body">
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card">
      <img [src]="f3" class="card-img-top" alt="...">
      <div class="card-body">
        
      </div>
   </div>
  </div>
</div>
