<footer id="footer-top">
    <div class="container">
     <div id="r1" class="row">
        <div class="col-md-3 col-sm-6">
            <h3 style="color: aliceblue;">About Us</h3>
              <p>At vero eos et accusamus et iusto odio dignis
                simos ducimus  qui blanditiis praesentiumlo 
                volupt At vero eos et accusamus et iusto odio dignis
                simos ducimus  qui blanditiis praesentiumlo 
                volupt  </p>
             
        </div>
        <div class="col-md-3 col-sm-6 ">
          <h4>Quicks Links</h4>
          <ul class="justify-content-center">
            <li>Home</li>
            <li>Services</li>
            <li>Terms And Conditions</li>
            <li>Privacy policy</li>
            <li>Blog</li>
            <li>Companies</li>
  
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="tags-outer">
           <h4>Tags</h4>
           <div class="tags">
             <a href="#">
               <span>Cause</span>
             </a>
             <a href="#">
              <span>Lipsum</span>
            </a>
            <a href="#">
              <span>Port-Folio</span>
            </a>
            <a href="#">
              <span>Safty</span>
            </a>
            <a href="#">
              <span>Homeless</span>
            </a>
            <a href="#">
              <span>Blog</span>
            </a>
            <a href="#">
              <span>Minimal</span>
            </a>
            <a href="#">
              <span>Community</span>
            </a>
            <a href="#">
              <span>Education</span>
            </a>
            <a href="#">
              <span>Lifestyle</span>
            </a>
           </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-6">
           <h4>Subscribes</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate provident amet reprehenderit!</p>
           <form>
             <div class="field1">
                <input type="email" placeholder="your email">
             </div>
             <div class="field">
                 <!-- <btn class="btn btn-min btn-solid">
                   <span>Subscribe</span>
                 </btn> -->
            </div>
           </form>
        </div>
        
          
        
      </div>
    </div>
    <div class="footer-bar">
      <div class="container-fluid">
        <h5>Created With
        <i class="fa fa-heart"></i>
        by Kemoboy Design.  © Copyright 
        <a href="#">Construction 2016</a>
         All Rights Reserved
         </h5>
      </div>
    </div>
  </footer>
  